* {
	margin: 0;
	padding: 0;
}

nav {
	position: fixed;
	padding: 30px;
	margin-bottom: 20px;
	height: 40px;
	background-color: grey;
	width: 100%;
	top: 0;

}

nav ul {
	display: inline-block;
	position: absolute;
	right: 150px;
}

nav ul li {
	display: inline-block;
	font-size: 20px;
}

.GList {
	font-color: black;
	font-family: Helvetica;
}

.PA {
	display: inline-block;
	padding-right: 10px;
	font-color: purple;
	font-family: Helvetica;
	padding-right: 10px;

}

.search {
	box-sizing: border-box;
	font-family: Helvetica;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	width: 250px;

}

.search input {
	font-size: 20px;
	width: 150px;
	height: 30px;
	float: left;
	margin-right: 5px;
}

.search form {
	position: relative;
	box-sizing: border-box;
	vertical-align: bottom;
	padding: 10px;
	border: 10px grey;
}

.MGlass {
	border: 2px solid grey;
	width: 30px;
	height: 30px;
	float: left;
}

p {
	margin-top: 30px
	margin-bottom: 30px;
}

.pages {
	padding-top: 20px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	margin-top: 30px;
	font-family: Helvetica
}

.prev {
  display: inline-block;
  border: 2px solid black;
  padding-right: 2px;
  text-decoration: none;
}

.numbers {
  display: inline-block;
  border: 2px solid black;
  padding-right: 2px;
  text-decoration: none;
}

.next {
  display: inline-block;
  border: 2px solid black;
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
}


main {
	margin-left: 100px;
	margin-top: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Helvetica
}

section li {
	margin-bottom: 20px;
}
